<div class="card" routerLink="/{{recipe.urlTitle}}" [class.mat-elevation-z12]="isActive" (mouseover)="isActive=true"
  (mouseout)="isActive=false">
  <img class="bd-placeholder-img card-img-top header-img" src={{recipe.photoUrl}} *ngIf="recipe.photoUrl">
  <svg class="bd-placeholder-img card-img-top header-img" xmlns="http://www.w3.org/2000/svg" role="img"
    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" *ngIf="!recipe.photoUrl">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c"></rect>
    <text x="50%" y="50%" fill="#eceeef" dy=".3em">No photo</text>
  </svg>

  <div class="card-body">
    <h5 class="card-title fs-5 m-0">{{recipe.title}}</h5>
    <div>
      <span class="fa fa-star" [class.checked]="recipe.rating>=1"></span>
      <span class="fa fa-star" [class.checked]="recipe.rating>=3"></span>
      <span class="fa fa-star" [class.checked]="recipe.rating>=5"></span>
      <span class="fa fa-star" [class.checked]="recipe.rating>=7"></span>
      <span class="fa fa-star" [class.checked]="recipe.rating>=9"></span>
    </div>
    <p class="card-text mt-1 overflow-auto" style="height: 100px">{{recipe.description}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-body-secondary text-black-50">Prep: {{recipe.prepareTime}} Cook: {{recipe.cookTime}}</small>
      <small class="text-body-secondary text-black-50">{{recipe?.updated|date: "dd/MM/yyyy"}}</small>
    </div>
  </div>
</div>