<h2 class="text-center text-secondary py-4">Categories</h2>

<div class="album py-1 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let c of this.categories">
                <app-category-card [category]="c"></app-category-card>
            </div>
        </div>
        <pagination class="m-3" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize"
            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    </div>
</div>