<main class="container">

    <div class="row justify-content-between header-row">
        <header class="col-5 align-self-center">
            <h1 class="mt-4">{{recipe.title}}</h1>
        </header>

        <div class="col-6 h-100 mt-2">
            <img class="header-img img-thumbnail" alt={{recipe.title}} src={{recipe.photoUrl}}>
        </div>
    </div>

    <div class="row justify-content-between header-row">
        <header class="col-5 border-top border-secondary d-flex flex-column">
            <div class="d-flex mb-1 mt-4 ms-1">
                <h5 class="me-2">{{recipe.rating}}</h5>
                <div>
                    <span class="fa fa-star" [class.checked]="recipe.rating>=2"></span>
                    <span class="fa fa-star" [class.checked]="recipe.rating>=4"></span>
                    <span class="fa fa-star" [class.checked]="recipe.rating>=6"></span>
                    <span class="fa fa-star" [class.checked]="recipe.rating>=8"></span>
                    <span class="fa fa-star" [class.checked]="recipe.rating>=10"></span>
                </div>
            </div>
            <span class="d-flex align-items-center">
                <p class="fa fa-clock-o my-3"></p>
                <h4 class="m-0 px-2">Prep Time: {{recipe.prepareTime}} Cook Time: {{recipe.cookTime}}
                </h4>
            </span>
            <h4>Yields: {{recipe.yield}}</h4>
            <a href={{recipe.originalLink}}>{{recipe.originalLink}}</a>
        </header>

        <div class="col-6 py-3 h-100 pt-2">
            <h5 class="text text-secondary">{{recipe.description}}</h5>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic fw-semibold border-bottom">
                Instructions
            </h3>

            <article class="blog-post my-3" *ngFor="let step of recipe.steps">
                <h5 class="blog-post-title">Step {{step.stepNumber}}</h5>
                <p class="fw-medium fs-5">{{step.description}}</p>
                <div class="row" *ngIf="step.photoUrls[0]">
                    <img class="col img step-img" [src]="step.photoUrls[0]">
                    <img class="col img step-img" [src]="step.photoUrls[1]" *ngIf="step.photoUrls[1]">
                </div>

            </article>

            <h3 class="pb-3 mt-5 fw-semibold border-bottom">
                {{recipe.reviews?.length}} Comments
            </h3>

            <div class="container-fluid p-4 my-2">
                <div class="card mb-3" *ngFor="let r of recipe.reviews">
                    <div class="card-header">
                        <div class="media flex-wrap align-items-center">
                            <div class="media-body ml-3">
                                <p class="mb-1">{{r.author}}</p>
                            </div>
                            <div class="d-flex text-center mb-1 mt-1">
                                <h6 class="me-2">{{r.rating}}</h6>
                                <div>
                                    <span class="fa fa-star" [class.checked]="r.rating>=1"></span>
                                    <span class="fa fa-star" [class.checked]="r.rating>=3"></span>
                                    <span class="fa fa-star" [class.checked]="r.rating>=5"></span>
                                    <span class="fa fa-star" [class.checked]="r.rating>=7"></span>
                                    <span class="fa fa-star" [class.checked]="r.rating>=9"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pb-2">
                        <p>{{r?.text}}</p>
                        <div class="text-muted small text-end mx-2">{{r.created|date: "dd/MM/yyyy hh:mm"}}</div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3">
                <p class="fs-3 fw-semibold">Leave a Reply</p>
                <form #commentForm="ngForm" (ngSubmit)="submitComment()" autocomplete="off" class="border p-3">
                    <p class="fs-5 fw-medium mb-1">Recipe rating</p>
                    <div class="mb-5">
                        <rating [max]="10" name="rating" [(ngModel)]="model.rating" [customTemplate]="template">
                        </rating>
                        <ng-template #template let-index="index" let-value="value">
                            <p [ngClass]="index<value?'fa fa-star checked':'fa fa-star'"></p>
                        </ng-template>
                    </div>
                    <div class="text">
                        <label for="nameFormControl" class="text mb-2">Name</label>
                        <input type="text" id="nameFormControl" class="form-control mb-3" name="name"
                            [(ngModel)]="model.author">
                    </div>
                    <div class="text">
                        <label for="commentFormControl" class="text mb-2">Comment</label>
                        <textarea type="text" id='commentFormControl' class="form-control" name="comment" rows="5"
                            [(ngModel)]="model.text">
                        </textarea>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success mt-3 ms-1">Submit</button>
                    </div>

                    <p *ngIf="showSuccessText" class="text-success fs-3 mt-2">The comment successfully submitted!</p>

                </form>
            </div>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic ms-3 mb-3">Ingredients</h4>
                    <ul *ngFor="let i of this.recipe.ingredients">
                        <li class="ps-2">
                            {{i.amount}} {{i.unit}} {{i.product.name}} <p class="text-secondary">{{i.notes}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>