.checked {
  color: orange;
}

.header-row {
    height: 40vh;
}

.header-img{
    height: 95%;
    object-fit: cover;
    overflow: hidden;
    width: 100%; 
}

.step-img{
  max-height: 450px;
  height: auto;
  object-fit:contain;
  overflow: hidden;
  width: 50%;
}

.h-95{
  height: 95%;
}

.fw-semibold {
  font-weight: 500 !important;
}