<header class="p-3 primary">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-lg-0 text-white text-decoration-none navbar-brand" routerLink="/">
        <img src="../../assets/logo.png" alt="logo" height="50px" width="75px">
      </a>

      <ul class="nav col-12 col-lg-auto ms-lg-auto me-lg-5 mb-lg-2 justify-content-end justify-content-sm-center mb-md-0">
        <li class="nav-item">
          <a class="nav-link px-3 text-secondary" routerLinkActive="text-black"
            [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-secondary" routerLinkActive="text-black" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-secondary" routerLinkActive="text-black" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-secondary" routerLinkActive="text-black" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-secondary" routerLinkActive="text-black" routerLink="/contact">Contact us</a>
        </li>
      </ul>

      <form #searchForm="ngForm" (ngSubmit)="submitSearch()" class="col-10 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"
        data-np-autofill-type="other" autocomplete="off" data-np-checked="1" data-np-watching="1">
        <input type="search" name="searchQuery" [(ngModel)]="searchQuery"
          class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

    </div>
  </div>
</header>