.checked {
  color: orange;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.header-img {
  height: 225px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}