<div class="card shadow-sm" routerLink="/recipes/{{category.urlName}}" [class.mat-elevation-z12]="isActive"
  (mouseover)="isActive=true" (mouseout)="isActive=false">
  <img class="bd-placeholder-img card-img-top header-img" src={{category.recipes[0].photoUrl}} *ngIf="this.length>0">
  <svg class="bd-placeholder-img card-img-top header-img" xmlns="http://www.w3.org/2000/svg" role="img"
    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" *ngIf="this.length==0">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c"></rect>
    <text x="50%" y="50%" fill="#eceeef" dy=".3em">No photo</text>
  </svg>
  <div class="card-body">
    <h5 class="card-title m-0">{{category.name}}</h5>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-body-secondary text-black-50">{{length}} recipes</small>
    </div>
  </div>
</div>