<div class="container">
  <h2 class="text-center text-secondary py-4">{{categoryName}}</h2>

  <div class="d-flex justify-content-end m-3">
    <div class="btn-group" role="group" aria-label="Sorting">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" (click)="sort('label1')" autocomplete="off" checked>
      <label #label1 class="btn btn-outline-dark" for="btnradio1">Recent</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" (click)="sort('label2')" autocomplete="off">
      <label #label2 class="btn btn-outline-dark" for="btnradio2">Top rated</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" (click)="sort('label3')" autocomplete="off">
      <label #label3 class="btn btn-outline-dark" for="btnradio3">Fastest</label>
    </div>
  </div>

  <div class="album py-1 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let r of this.recipes">
          <app-recipe-card [recipe]="r"></app-recipe-card>
        </div>
      </div>
    </div>
  </div>

  <pagination class="m-3" [totalItems]="pagination.totalCount" [itemsPerPage]="pagination.pageSize"
    (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;">

  </pagination>
</div>