<div class="w-100 secondary">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" class="nav-link px-3 third">Home</a></li>
      <li class="nav-item"><a routerLink="/recipes" class="nav-link px-3 third">Recipes</a></li>
      <li class="nav-item"><a routerLink="/categories" class="nav-link px-3 third">Categories</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link px-3 third">About</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link px-3 third">Contact Us</a></li>
    </ul>
    <p class="text-center text-body-secondary">© CBFD, 2023. Any copying prohibited.</p>
  </footer>
</div>