<div class="wrap">
    <h2 class="text-center fs-3 my-3">Featured Recipes</h2>

    <div class="row justify-content-center gap-2 bg-light bg-gradient">
        <div class="col-3" *ngFor="let r of featured">
            <a routerLink="/{{r.urlTitle}}" title={{r.title}} class="d-flex flex-column text-decoration-none">
                <img [src]="r?.photoUrl || 'https://wonderfulengineering.com/wp-content/uploads/2016/01/nature-wallpapers-8.jpg'"
                    class="d-flex flex-shrink-0 flex-grow header-img" alt={{r.title}}>
                <h3 class="text-center fs-5 fw-normal text-black mt-2">{{r.title}}</h3>
            </a>
        </div>
    </div>
</div>

<div class="py-4 mx-5 mt-2">
    <ol class="d-flex flex-wrap gap-5 justify-content-center align-items-center w-100 py-4">
        <li class="d-block text-center" *ngFor="let c of categories">
            <a class="d-block" routerLink="/recipes/{{c.urlName}}">
                <img [src]="c.recipes[0]?.photoUrl || 'https://wonderfulengineering.com/wp-content/uploads/2016/01/nature-wallpapers-8.jpg'"
                    class="mb-2 category-img rounded" alt={{c.name}} decoding="async" loading="lazy" data-pin-nopin="nopin">
                <p class="font-sans text-sm font-bold text-black leading-tight">{{c.name}}</p>
            </a>
        </li>
    </ol>
</div>

<div class="wrap">
    <h2 class="text-center fs-3">Recent Recipes</h2>
    <div class="album">
        <div class="row justify-content-center gap-2">
            <div class="col-3" *ngFor="let r of latest">
                <app-recipe-card [recipe]="r"></app-recipe-card>
            </div>
        </div>
    </div>
    <div class="container d-grid mx-auto col-3 mt-1 mb-3">
        <button class="btn btn-secondary my-4" routerLink="/recipes/explore">See More</button>
    </div>
</div>