<div class="container-fluid col-4 my-3">
    <p class="fs-3 fw-semibold text-center">Contact us</p>
    <form #commentForm="ngForm" (ngSubmit)="submitForm()" autocomplete="off" class="p-3">
        <div class="text">
            <label for="nameFormControl" class="text mb-2">Name</label>
            <input type="text" id="nameFormControl" class="form-control mb-3" name="name" [(ngModel)]="model.name">
        </div>
        <div class="text">
            <label for="emailFormControl" class="text mb-2">Email</label>
            <input type="email" id="emailFormControl" class="form-control mb-3" name="email" [(ngModel)]="model.email">
        </div>
        <div class="text">
            <label for="messageFormControl" class="text mb-2">Message</label>
            <textarea type="text" id='messageFormControl'class="form-control" name="comment" rows="8" [(ngModel)]="model.message">
            </textarea>
        </div>
        <div class="">
            <button type="submit" class="btn btn-success mt-4 ms-1">Submit</button>
        </div>

        <p *ngIf="showSuccessText" class="text-success fs-3 mt-2">The comment successfully submitted!</p>

    </form>
</div>