<section class="py-3 text-center container">
  <div class="row py-lg-4">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Recipes</h1>
      <p class="lead text-body-secondary">Here you can find all the recipe categories and tags following by the most
        popular and recent entries.</p>
    </div>
  </div>
</section>

<h2 class="text-center text-secondary py-4">Recent</h2>
<div class="album py-1 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let r of this.hotRecipes">
        <app-recipe-card [recipe]="r"></app-recipe-card>
      </div>
    </div>
  </div>
</div>
<div class="container d-grid mx-auto col-3">
  <button class="btn btn-secondary my-4" routerLink="explore">See More</button>
</div>

<h2 class="text-center text-secondary pt-5 pb-3">Categories</h2>
<div class="album py-2 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let c of this.categories">
        <app-category-card [category]="c"></app-category-card>
      </div>
    </div>
  </div>
</div>
<div class="container d-grid mx-auto col-3 mb-5">
  <button class="btn btn-secondary my-4" routerLink="/categories">See More</button>
</div>