.fullpage{
  margin: 0;
  height: 100%;
}

#wrapper {
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  padding-left: 0;
  transition: all .5s ease;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px
}

.page-content {
  overflow-y: auto;
  padding: 30px 50px;
  background: #fcfcfc;
  height: 100%;
}

.page-bg {
  height: 100%;
  background-position: 50%;
  background-size: cover;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.fw-semibold {
  font-weight: 500 !important;
}
