<div id="wrapper">
    <div class="row fullpage">
        <img src="https://res.cloudinary.com/deoeefovt/image/upload/v1684152454/about1_drmun7.jpg"
            class="col-sm-6 p-0 page-bg rocket-lazyload entered lazyloaded" data-ll-status="loaded">
        <div class="col-sm-6 page-content">
            <h2 id="title" data-page="About">About</h2>
            <p class="text fw-semibold">Cooking Book is a recipe blog written by home cook Daniil. It's only starting to
                come to life, the
                main amount of recipes will be imported here from telegram channel in nearest time.
            <p class="text fw-semibold">I'm originally from Ukraine, but currently staying and cooking in Germany.</p>
            <p class="text fw-semibold">If you have any suggestions about improving the website or some recipes we could
                cover, don't be shy to
                contact us via form or send an email to divanov13@pm.me</p>
        </div>
    </div>
</div>